@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --font-principal: var(var(--font-principal) ) !important;
}



.textlufga{
  font-family: var(--font-principal), sans-serif !important;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
