@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-principal: var(var(--font-principal))
}

body {
  font-family: var(--font-principal);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
